<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>@ViewBag.Title</title>
	@Styles.Render("~/Content/css")
	@Scripts.Render("~/bundles/modernizr")

</head>
<body>
	<div class="navbar navbar-inverse navbar-fixed-top">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				@Html.ActionLink("Stollhammer Rampenfest", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
			</div>
			<div class="navbar-collapse collapse">
				<ul class="nav navbar-nav">
					<li>@Html.ActionLink("Start", "Index2", "Home")</li>
					<li>@Html.ActionLink("Impressum", "About", "Home")</li>
					<li>@Html.ActionLink("Kontakt", "Contact", "Home")</li>
				</ul>
				@Html.Partial("_LoginPartial")
			</div>
		</div>
	</div>
	<div class="container body-content">
		@RenderBody()
		<hr />
		<footer>
			<div class=" row">
				<div class="col-xs-2">
					<a href="https://twitter.com/share" class="twitter-share-button" data-url="http://rampenfest.azurewebsites.net" data-text="Ich gehe zum Rampenfest. Komm doch auch!" data-lang="de" data-hashtags="rampenfest15" data-dnt="true">Twittern</a>
					<script>!function (d, s, id) { var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/.test(d.location) ? 'http' : 'https'; if (!d.getElementById(id)) { js = d.createElement(s); js.id = id; js.src = p + '://platform.twitter.com/widgets.js'; fjs.parentNode.insertBefore(js, fjs); } }(document, 'script', 'twitter-wjs');</script>
				</div>
				<div class="col-xs-2">
				<div class="fb-like" data-href="http://www.rampenfest.de" data-layout="button_count" data-action="like" data-show-faces="true" data-share="true"></div>
					<div id="fb-root"></div>
					<script>
					(function (d, s, id) {
						var js, fjs = d.getElementsByTagName(s)[0];
						if (d.getElementById(id)) return;
						js = d.createElement(s); js.id = id;
						js.src = "//connect.facebook.net/de_DE/sdk.js#xfbml=1&version=v2.4";
						fjs.parentNode.insertBefore(js, fjs);
					}(document, 'script', 'facebook-jssdk'));
					</script>
				</div>
			</div>

			<div class="col-xs-12 text-right">
				<p>&copy; @DateTime.Now.Year KBV Stollhamm e.V.</p>
			</div>
		</footer>
	</div>

	@Scripts.Render("~/bundles/jquery")
	@Scripts.Render("~/bundles/bootstrap")
	@RenderSection("scripts", required: false)
</body>
</html>
